* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utilities */
.p-absolute {
    position: absolute;
}

i:hover,
.prev,
.next {
    cursor: pointer;
}

.flex {
    display: flex;
}



/* header */
.p-relative {
    position: relative;
}

.slider .image {
    height: 800px;
}

.slider .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .prev,
.slider .next {
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 120px;
    background-color: black;
    opacity: .7;
    justify-content: center;
    align-items: center;
}


.slider .next {
    right: 0;
}


.slider .prev i,
.slider .next i,
.point-navigator i {
    font-size: 30px;
    color: aliceblue;
}

.point-navigator {
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    opacity: .7;
    border-radius: 100px;
}

.point-navigator i {
    padding: 20px 40px;
}