* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* utilities */
.p-absolute {
    position: absolute;
}

.point-navigator i {
    cursor: pointer;
}

.flex {
    display: flex;
}

.active {
    color: blue;
}


/* header */
.p-relative {
    position: relative;
}

.slider .image {
    height: 800px;
}

.slider .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .prev,
.slider .next {
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 120px;
    background: rgba(0, 0, 0, .7);
    align-items: center;
    cursor: pointer;
}

.slider .next {
    right: 0;
}

.slider .next i {
    margin: auto;
    transform: translateX(50%);
}

.slider .prev i {
    margin: auto;
    transform: translateX(-50%);
}

.slider .prev i,
.slider .next i,
.point-navigator i {
    font-size: 30px;
    color: gray;
    transition: color .4s;
}

.point-navigator i:hover {
    color: white;
    opacity: 1;
}

.point-navigator {
    padding: 20px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, .7);
    border-radius: 100px;
}

.point-navigator i {
    margin: 0px 40px;
}

.point-navigator i.active {
    color: cornflowerblue;
    opacity: 1;
}

